

.search{
    display:flex;
    gap:10px;
    box-sizing:border-box;
    padding:10px 15px;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
}

.search__icon svg{
    color:white;
    cursor:pointer;
}

.search__input {
    flex:1;
    
}

.search__input input{
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    padding:5px;
}

.filters{
    color:white;
    position:relative;
}

.filters__active{
    display:flex;
    align-items: center;
    gap:5px;
    cursor:pointer;   
}

.filters__active svg{
    color:white;
}

.filters__option{
    padding:5px 10px;
    color:Gray;
    padding-right:30px;
    border-radius:5px;
}

.filters__option:hover{
    background: #FFFFFF50;
    cursor:pointer;
    color:white;
}


.filters__options{
    position: absolute;
    top: auto;
    background: rgba(255, 255, 255, 0.04);
    padding: 10px;
    right: -9px;
    margin-top: 20px;

}