.recources{
    margin-top:30px;
    display:flex;
    gap:30px;
}

.recources__box{
    padding:20px;
    border:1px solid #7061cf8c;
    display:flex;
    flex-direction: column;
    gap:20px;
    flex:1;
}

.recources__bar{
    display:flex;
    gap:20px;
    align-items: center;
}

.recources__btn{
    outline:none;
    background-color: transparent;
    border:2px solid #0500FF;
    border-radius:5px;
    color:white;
    width:100px;
    text-align: center;
    padding:5px;
    
}

.recources__box-title{
 color:white;   
 font-weight:bold;
}

.recources__power-btns{
    display:flex;
    width:100%;
    gap:15px;
}

.power-btn{
    outline:none;
    background-color: transparent;
    border:2px solid #0500FF;
    border-radius:5px;
    color:white;
    text-align: center;
    padding:5px;
    flex:1;
}

.power-btn--disabled{
    opacity:0.4;
}